@import './variables';

%ex-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #1f212c;
    color: #f9f2ec;
    padding: 10px 15px;
}
%ex-navbar {
    font-size: 18px;
    margin-right: 10px;
    font-weight: 500;
}
%sz-spinner {
    width: 6rem;
    height: 6rem;
    color: $color-purple;
    margin-top: 70px;
}