$bg-color: #1f212c;

$color-dark-green: #00966b;
$color-light-green: #01cd42;
$color-text-white: #f9f2ec;
$color-red: #fa0525;
$color-black: #1f212c;
$color-purple: #a000a0;

$color-pink: #ea52f8;
$color-blue: #0066ff;

$color-text-shadow: 0 0 15px $color-light-green, 0 0 10px $color-light-green;
$color-border-shadow: 0 0 15px $color-purple, 0 0 10px $color-purple;