@import "../../sass/variables";

.card-product {
  border: 1px solid $color-purple;
  box-shadow: $color-border-shadow;
  background: transparent;
  padding: 5px;
  color: $color-text-white;
  .content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
  }
  button {
    background: transparent;
    border: 1px solid $color-purple;
    color: $color-text-white;
    border-radius: 4px;
    &:hover {
      background-color: $color-purple;
      transition: 0.2s;
      border: 1px solid $color-text-white;
      .coin {
        color: $color-text-white;
      }
    }
    .coin {
      color: $color-purple;
      font-size: 20px;
    }
  }
}
